body {
    background-image: url(imagens/imagem_background_portifolio.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #2a2a2a;
    font-family: MontSerrat, Tahoma, Arial, sans-serif;
    padding: 3%;
    margin: 0;

}

h2 {
    color: #b8b1b1;
    text-shadow: #dad8d8 -1.5px 0;
}

.header {
    color: rgb(199, 194, 186);
    text-align: center;
    font-size: 1.8em;
    line-height: 1.7em;
    font-weight: bold;
    letter-spacing: -1.5px;
}

.letter_color {
    color: #dad8d8;
    font-size: 16px;
    line-height: 1.4em;
    list-style-type: square;
}

.list_style {
    line-height: 20px;
}

.div_coluna{
    display: inline-block;
    margin: auto;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center }
  div.div_coluna p {
    margin: 0
 
}

.img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 50%;
    border-color: #b8b1b1;
}

.trybe {
    color: green;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.paragrafo {
    width: 80%;
    overflow: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.nav1 {
    margin-top: 15px;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center }
  div.nav1 p {
    margin: 0
  }